
<html>

<head>
    <title>User - Forget Password</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="glass-frame">
            <h1>Welcome!</h1>


            <% if(typeof message !=='undefined' ){ %>
                <p style="color:red;font-size: 18px;">
                    <%= message %>
                </p>
                <% } %>

                    <div id="login" class="tab-content">
                        <form method="post" action="/user/forget-password">
                            <input type="email" name="email" placeholder="enter you Email" required>
                            <button type="submit">Send Reset Link</button>
                        </form>
                    </div>
        </div>
    </div>
</body>

</html>